html
  head
  link(href='/public/stylesheets/style.css', rel='stylesheet',  type='text/css')
  
  body
h1 Welcome to the City API ! 
    p this API contains data about cities in New Jersey, including county, state, population , distance and time from Lakewood( according to http://www.distancebetweencities.net/ )
    
   
    h1 GET requests: 
     p To get all the cities with county ,population, and distance data- use :/city/
     p To get all the cities with county, state, population, distance, and time data- use :/city2/
     p To get data of a specific city- use :/city/name or: /city2/name
    
  
    h2 Use Postman to post new cities to either /city or /city2.
    h2 You can patch (update) an exisiting city by passing into the url the name  of the city.
    
  h3 This API was built using ExpressJS, Node.js, and Mongoose 
    
    